bot_id = ""
bot_token = ""
protocol = "http"
team = "botsample"
ws_server = "ws://localhost:8065"
api_server = "http://localhost:8065"

[stonks]
  channels = []
  emojis = ["stonks"]
  mindelay = 30
  maxdelay = 120
